@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap%27');
.container{
    background-color: grey;
    background: url('../../assets/background/result.png');
}
.heading{
    width: 100%;
    /* background-color: red; */
    height: 15vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 3vw;
    font-family: 'Abril Fatface',cursive;
}

table{
    /* background-color: yellow; */
    width: 100%;
    border: 2px solid black;
}
td{
    text-align: center;
    /* height: 3vh; */
    padding-top: 3vh;
}
th{
    border: 2px solid black;
    height: 10vh;
}