 <body>
    <div class="container1">
        <br>
        <div class="para">
            Team Incognitoes
        </div>
    </div>
    <br>
    <div class="container2">
        <div class="card" id="card1">
            <img src="../../assets/dp/twishanu.jpeg" alt="" class="dp">
            <div class="about">
                <div class="name">Twishanu Aich Roy</div>
                <div class="post">Leader</div>
                <div class="contacts">
                    <a href="https://instagram.com/_twishanu_?igshid=YmMyMTA2M2Y="><fa-icon [icon]="faInstagram" size="3x"></fa-icon></a>
                    <a href=""><fa-icon [icon]="faFacebook" size="3x"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card" id="card2">
            <img src="../../assets/dp/bidisha.jpeg" alt="" class="dp">
            <div class="about">
                <div class="name">Bidisha Nag</div>
                <div class="post">Member</div>
                <div class="contacts">
                    <a href=""><fa-icon [icon]="faInstagram" size="3x"></fa-icon></a>
                    <a href=""><fa-icon [icon]="faFacebook" size="3x"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card" id="card3">
            <img src="../../assets/dp/bishal.jpeg" alt="" class="dp">
            <div class="about">
                <div class="name">Bishal Mondal</div>
                <div class="post">Member</div>
                <div class="contacts">
                    <a href="https://instagram.com/dredferry?igshid=YmMyMTA2M2Y="><fa-icon [icon]="faInstagram" size="3x"></fa-icon></a>
                    <a href=""><fa-icon [icon]="faFacebook" size="3x"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card" id="card4">
            <img src="../../assets/dp/diptayan.jpeg" alt="" class="dp">
            <div class="about">
                <div class="name">Diptayan Mondal</div>
                <div class="post">Member</div>
                <div class="contacts">
                    <a href="https://instagram.com/dip.mon.02?igshid=YmMyMTA2M2Y="><fa-icon [icon]="faInstagram" size="3x"></fa-icon></a>
                    <a href=""><fa-icon [icon]="faFacebook" size="3x"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card" id="card5">
            <img src="../../assets/dp/priyanka.jpeg" alt="" class="dp">
            <div class="about">
                <div class="name">Priyanka Ghosh</div>
                <div class="post">Member</div>
                <div class="contacts">
                    <a href="https://instagram.com/priyanka_19_?igshid=YmMyMTA2M2Y="><fa-icon [icon]="faInstagram" size="3x"></fa-icon></a>
                    <a href=""><fa-icon [icon]="faFacebook" size="3x"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="card" id="card6">
            <img src="../../assets/dp/debankan.jpeg" alt="" class="dp">
            <div class="about">
                <div class="name">Debankan Sarkar</div>
                <div class="post">Member</div>
                <div class="contacts">
                    <!-- <a href="https://instagram.com/hey_its_me_krov?igshid=YmMyMTA2M2Y="><img src="../../assets/iconimg/insta.png" alt="" target="_blank" class="contactimg"></a> -->
                    <a href="https://instagram.com/hey_its_me_krov?igshid=YmMyMTA2M2Y="><fa-icon [icon]="faInstagram" size="3x"></fa-icon></a>
                    <a href=""><fa-icon [icon]="faFacebook" size="3x"></fa-icon></a>
                    <!-- <a href=""><img src="../../assets/iconimg/facebook.png" alt="" class="contactimg"></a> -->
                </div>
            </div>
        </div>
    </div>
    <br><br>
</body>