    <div class="container" >
        <div class="heading">
            <div class="left">
            <div class="headingtop">
                Online Exam Portal System
            </div>
            <div class="headingbottom">
                Safe. Secure. Sound.
            </div>
            <div class="button" id="loginButtons">
                <a routerLink="/registration"><button class="signup greenButton buttonRes">
                    Register
                </button></a>
                <a routerLink="/login"><button class="login greenButton buttonRes">
                    Log In
                </button></a>
            </div>
            <div class="button buttonRes" id="logoutButton">
                <button class="logOut buttonRes" (click)="logOut()">Log Out</button>
            </div>
            <div class="button" id="PortalButton">
                <a href="/examHomePage"><button class="examButton blueButton buttonRes" id="StudentExam" >Give Exam</button></a>
                <!-- <a href=""><button class="examButton blueButton" id="TeacherExam" >Make Question</button></a> -->
            </div>
            </div>
            <div class="mainimage">
                <img src="../../assets/mainImage.jpeg" alt="">
            </div>
        </div>
        <div class="container2" >
            <div class="box" id="box1">
                <div class="para">
                    <div class="big">
                        OUR MISSION
                    </div>
                    <div class="small">
                        Making exam assessment easier for both tutee and tutor.
                    </div>
                </div>
                <div class="image"><img src="../../assets/mission.png" alt=""></div>
            </div>
            <div class="box even" id="box2">
                <div class="image"><img src="../../assets/vision.png" alt=""></div>
                <div class="para">
                    <div class="big">
                        OUR VISION
                    </div>
                    <div class="small">
                        Our vision is to develop a safe and disposable future ready solution for simple functionality
                    </div>
                </div>
            </div>
            <div class="box" id="box3">
                <div class="para">
                    <div class="big">
                        EXAM MONITORING
                    </div>
                    <div class="small">
                        An inclusive proctoring system with image verification and smoother evaluation.
                    </div>
                </div>
                <div class="image"><img src="../../assets/examMonitoring.png" alt=""></div>
            </div>
            <div class="box even" id="box4">
                <div class="image"><img src="../../assets/content security.png" alt=""></div>
                <div class="para">
                    <div class="big">
                        CONTENT SECURITY
                    </div>
                    <div class="small">
                        Incognitoes ensure exam rectitude by preventing fraudulent logins.
                    </div>
                </div>
            </div>
            <div class="box" id="box5">
                <div class="para">
                    <div class="big">
                        CIRCULATION BLOCKAGE
                    </div>
                    <div class="small">
                        Incognitoes prevent test circulation by restricting the ability to copy and paste. We provide optical mark recognition system to reduce chances of forgery
                    </div>
                </div>
                <div class="image"><img src="../../assets/Circulation blockage.png" alt=""></div>
            </div>
            <div class="box even" id="box6">
                <div class="image"><img src="../../assets/Image Authentication.png" alt=""></div>
                <div class="para">
                    <div class="big">
                        IMAGE AUTHENTICATION
                    </div>
                    <div class="small">
                        Examinees are only allowed to login and upload their tests after the 2 step verification.
                    </div>
                </div>
            </div>
            <div class="box" id="box7">
                <div class="para">
                    <div class="big">
                        PROCTOR DASHBOARD
                    </div>
                    <div class="small">
                        Manage exam parameters, edit account information, faculty control and gradebook settings
                    </div>
                </div>
                <div class="image"><img src="../../assets/Proctor dashboard.png" alt=""></div>
            </div>
            <div class="box even" id="box8">
                <div class="image"><img src="../../assets/Live proctoring.png" alt=""></div>
                <div class="para">
                    <div class="big">
                        LIVE MONITORING
                    </div>
                    <div class="small">
                        Allows immediate intervention during a test for fluid estimation
                    </div>

                </div>
            </div>
        </div>
    </div>